@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
    
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: #464341;
    font-family: var(--fonte1);
}

body {
    background-image: url(../imagens/Fundo01.png);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat
    ;
}

section.menu {
    position: relative;
    top: 390px;
    height: 240px;
    

}

div.projeto {
    border: 1px solid rgb(24, 24, 24);
    padding: 10px;
    background-color: rgb(59, 59, 59);
    color: white;
    font-size: 10px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
    
}

div.projeto a {
    color: white;
    text-decoration: none;
}
 

div.projeto:hover {
    padding: 20px;
    font-size: 17px;
    text-shadow: 2px 2px 2px rgba(5, 5, 5, 0.295);
    transition: 0.5s;
}

div#meusProjetos {
    background-color: rgb(19, 19, 19);
    color: white;
    text-align: center;
    
}

h1 {
    font-family:var(--fonte3);
    font-size: 20px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid transparent;

    
}
/* versão mobile */
@media (min-width:320px) and (max-width:425px) {
    section.menu {
        top: 210px;
    }
}

/* versão tablet */
@media (min-width:426px) and (max-width:768px) {
    section.menu {
        top: 320px;
    }
}


@media (min-width:769px) {
    body {
        background-image: url(../imagens/fundo01-paisagem.png);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat
    }

    section.menu {
        top: 5px;
        height: 40px;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;

    }

    div.projeto:hover {
        padding: 2px;
    }

    

