@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
    
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: #464341;
    font-family: var(--fonte1);
}

body {
    background-image: url(../imagens/Fundo01.png);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat
    ;
}

section.menu {
    position: relative;
    top: 390px;
    height: 240px;
    

}

div.projeto {
    border: 1px solid rgb(24, 24, 24);
    padding: 7px;
    background-color: rgb(59, 59, 59);
    color: white;
    font-size: 10px;
    text-align: center;
}

div#meusProjetos {
    background-color: rgb(19, 19, 19);
    
}

h1 {
    font-family:var(--fonte3);
    font-size: 20px;
}

